<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="msapplication-navbutton-color" content="#DF3152">
  <meta name="theme-color" content="#DF3152" />
  <meta name="description" content="This site contains the best sites for making money.">
  <meta name="msapplication-navbutton-color" content="#DF3152" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="#DF3152" />
  <title>UPLOAD FILE</title>
  <link rel="stylesheet" href="style_1.css">
</head>
<body>
  
 
 
 
</body>
</html>